.sidebar{
  width:240px;
  height:100vh;
  background:#0f2247;
  color:white;
  display:flex;
  flex-direction:column;
}

.sidebar-header{
  display:flex;
  align-items:center;
  gap:10px;
  padding:20px;
  font-size:20px;
  font-weight:600;
}

.logo-text{
  font-size:20px;
  font-weight:600;
  letter-spacing:1px;
}


.logo{
  width:40px;
  height:40px;
  background:#2dd4bf;
  border-radius:12px;
  display:flex;
  align-items:center;
  justify-content:center;
}

.sidebar-menu{
  display:flex;
  flex-direction:column;
  padding:10px 0;
}

.sidebar-menu a{
  padding:14px 20px;
  color:#cbd5e1;
  text-decoration:none;
  display:flex;
  align-items:center;
  gap:10px;
}

.sidebar-menu a:hover{
  background:#1e3a8a;
}

.sidebar-menu .active{
  background:#14b8a6;
  color:white;
  border-radius:8px;
  margin:4px 10px;
}

.sidebar-user{
  margin-top:auto;
  display:flex;
  align-items:center;
  gap:10px;
  padding:20px;
  border-top:1px solid rgba(255,255,255,0.1);
}

.avatar{
  width:36px;
  height:36px;
  border-radius:50%;
  background:#14b8a6;
  display:flex;
  align-items:center;
  justify-content:center;
}